/********************* 상단 공통 *********************/
.container { margin-top: 100px;} 

.tit_box h2 { margin-left: 100px;font-size: 52px; font-weight: 700; line-height: 1; text-align: center;transition: all 0.5s ease-out;  } 
.tit_box h2 span { padding-left: 30px; font-size: 34px; line-height: 52px; color: #A68C6F; } 
.tit_box p { margin-left: 100px;margin-top: 30px;margin-bottom: 50px; font-size: 20px; font-weight: 300;text-align: center;transition: all 0.5s ease-out;  } 

/* 로그인 */

#login_wrap { max-width: 650px; margin: 0 auto; padding: 120px 0; margin: 0 auto; background-color: #FEFCFA;} 

#login_wrap .form_box { width: 420px; margin: 0 auto; } 
#login_wrap .form_box .row + .row { margin-top: 24px; } 
#login_wrap .form_box .inp_row .inp_txt input { width: 100%; padding: 18px 20px; border-radius: 8px; box-sizing: border-box; border: 1px solid #8B8B8B; font-family: 'SCoreDream'; font-size: 16px; color:#1C1C1C;} 

#login_wrap .form_box .chk_row { overflow: hidden; } 
#login_wrap .form_box .chk_row .check { float: left; } 
#login_wrap .form_box .chk_row .find { float: right; } 

#login_wrap .form_box .btn_row { } 
#login_wrap .form_box .btn_row .btn_login { width: 100%; } 
#login_wrap .form_box .btn_row .btn_join { display: inline-block; width: 100%; margin-top: 20px; text-align: center;} 

/* 회원가입-약관동의 */
#join_wrap {max-width: 910px; margin: 0 auto; padding: 120px 0; margin: 0 auto; background-color: #FEFCFA; } 
.step_box { width: 620px; margin: 40px auto 0 auto; } 
.step_box ol { text-align: center; } 
.step_box ol li { display: inline-block; font-size: 20px; font-weight: 600; color: #8B8B8B; } 
.step_box ol li + li { margin-left: 60px; } 
.step_box ol li.current { color: #000; } 
.step_box ol li:nth-child(1)::before { content: "01"; display: block; font-size: 16px; font-weight: 400; } 
.step_box ol li:nth-child(2)::before { content: "02"; display: block; font-size: 16px; font-weight: 400; } 
.step_box ol li:nth-child(3)::before { content: "03"; display: block; font-size: 16px; font-weight: 400; } 

#join_wrap .form_box { width: 680px; margin: 60px auto 0 auto; } 
#join_wrap .form_box h3 { font-size: 26px; font-weight: 600; margin-bottom: 20px; } 

#join_wrap .form_box .row{ margin-top: 20px; } 

#join_wrap .form_box .chk_row { position: relative; padding: 8px 0;} 

#join_wrap .form_box .chk_row .btn_view { position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 100px; height: 40px; background: #DFDFDF; border: 1px solid #DFDFDF; font-family: 'SCoreDream'; font-size: 16px; font-weight: 500; cursor: pointer; } 
#join_wrap .form_box .chk_row .btn_view:hover{background: #8B8B8B;}
#join_wrap .form_box .scroll_wrap { background: #DFDFDF; padding: 40px; height: 300px; box-sizing: border-box; overflow: auto; margin: 20px 0;display: none;}
 #join_wrap .form_box .scroll_wrap strong{display: block;list-style: disc;font-weight: 500;margin-bottom: 20px;}
 #join_wrap .form_box .scroll_wrap ol{list-style: disc;font-weight: 300;}

#join_wrap .form_box .btn_row { overflow: hidden; margin-top: 40px; } 
#join_wrap .form_box .btn_row .btn_cancel { width: 250px; float: left; } 
#join_wrap .form_box .btn_row .btn_next { width: 420px; float: right; } 


/* 회원가입-정보입력 */
#join_wrap .form_box .inp_row .inp_txt { position: relative; } 
#join_wrap .form_box .inp_row .inp_txt input[type=text],
#join_wrap .form_box .inp_row .inp_txt input[type=tel],
#join_wrap .form_box .inp_row .inp_txt input[type=password] { width: 100%; height: 60px; border-radius: 8px; border: 1px solid #8B8B8B; padding-left: 20px; box-sizing: border-box; font-family: 'SCoreDream'; font-size: 16px;} 
#join_wrap .form_box .inp_row .inp_txt input[type=email] { padding-right: 206px; } 

#join_wrap .form_box .inp_row .inp_txt .btn_dbchk { position: absolute; right: 6px; top: 50%; transform: translateY(-50%); width: 180px; height: 48px; border-radius: 4px; background: #DFDFDF; border: 1px solid #DFDFDF; font-family: 'SCoreDream'; font-size: 16px; font-weight: 500; cursor: pointer; } 
#join_wrap .form_box .inp_row .inp_txt .btn_dbchk:hover{background-color: #8B8B8B;}
#join_wrap .form_box .radio_row { overflow: hidden; margin-top: 20px;font-weight: 500;} 
#join_wrap .form_box .radio_row span { float: left; } 
#join_wrap .form_box .radio_row p { float: right; } 
#join_wrap .form_box .radio_row p { margin-left: 40px; } 

#join_wrap .form_box .radio_row input[type=radio] { position: absolute; left: -9999px; } 

#join_wrap .form_box .radio_row label::before { content: ""; display: inline-block; vertical-align: top; width: 24px; height: 24px; margin-right: 6px; background: url(../images/input-radio.svg) no-repeat 0 0; } 

#join_wrap .form_box .radio_row input[type=radio]:checked + label::before { background-position-y: -34px; } 

/* 회원가입-가입완료 */
#join_wrap.w650{max-width: 650px;}
#join_wrap .content_box { width: 650px; margin: 80px auto 0 auto; text-align: center; } 
#join_wrap .content_box .tit { font-size: 26px; font-weight: 600; } 
#join_wrap .content_box .ico_box { margin-top: 20px; } 
#join_wrap .content_box .txt_box { margin-top: 20px; } 
#join_wrap .content_box .txt_box p strong { font-weight: 500; } 
#join_wrap .content_box .txt_box p + p { margin-top: 8px; } 
#join_wrap .content_box .txt_box p em { color: #FF1111; } 
#join_wrap .content_box .btn_row { margin-top: 80px; } 
#join_wrap .content_box .btn_row .btn_fil { width: 420px; } 



